<router-outlet></router-outlet>
<div id="title" style="text-align:center">
  <!-- <h1>Data from stream:  {{monitor}}</h1> -->
  <h2>Subsea Station 3</h2>
</div>  

<div id="chart1">
  <ngx-charts-pie-grid
    [view]="view"
    [scheme]="colorSchemePie"
    [results]="single"
    [animations]="animations"
    [minWidth] ='minWidth'
    [designatedTotal]='designatedTotal'
    (select)="onSelect($event)">
  </ngx-charts-pie-grid>
</div>

<!-- <div id="title" style="text-align:center"> -->
  <!-- <img src="https://www.bhge.com/sites/subsea-connect/assets/images/01_.png"  style="width:200px;height:300px; padding-left: 10px"> -->
  <!-- <img src="https://www.bhge.com/sites/subsea-connect/assets/images/09_.png"  style="width:200px;height:300px;"> -->
  <!-- <img src="https://www.bhge.com/sites/subsea-connect/assets/images/06_.png"  style="width:200px;height:300px;"> -->
  <!-- <img src="https://www.bhge.com/sites/subsea-connect/assets/images/07_.png"  style="width:200px;height:300px;"> -->
<!-- </div>   -->
<br>
<div id="chart2">
    <img src="https://www.bhge.com/sites/subsea-connect/assets/images/01_.png"  style="width:230px;height:230px; padding-right: 80px">

  <ngx-charts-bar-horizontal
    [view]="viewHotizontal"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisTicks]="yAxisTicks"
    [xScaleMax]='xScaleMax'
    [xScaleMin]='xScaleMin'
    (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>

<div id="chart1">
    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorSchemePie"
      [results]="single"
      [animations]="animations"
      [minWidth] ='minWidth'
      [designatedTotal]='designatedTotal'
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>

<div id="chart2">
    <img src="https://www.bhge.com/sites/subsea-connect/assets/images/06_.png"  style="width:230px;height:230px; padding-right: 80px">

  <ngx-charts-bar-horizontal
    [view]="viewHotizontal"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisTicks]="yAxisTicks"
    [xScaleMax]='xScaleMax'
    [xScaleMin]='xScaleMin'
    (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>

<div id="chart1">
    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorSchemePie"
      [results]="single"
      [animations]="animations"
      [minWidth] ='minWidth'
      [designatedTotal]='designatedTotal'
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>
<div id="chart2">
    <img src="https://www.bhge.com/sites/subsea-connect/assets/images/08_.png"  style="width:230px;height:230px; padding-right: 80px">

  <ngx-charts-bar-horizontal
    [view]="viewHotizontal"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisTicks]="yAxisTicks"
    [xScaleMax]='xScaleMax'
    [xScaleMin]='xScaleMin'
    (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>

<div id="chart1">
    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorSchemePie"
      [results]="single"
      [animations]="animations"
      [minWidth] ='minWidth'
      [designatedTotal]='designatedTotal'
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>
<div id="chart2">
    <img src="https://www.bhge.com/sites/subsea-connect/assets/images/07_.png"  style="width:230px;height:230px; padding-right: 80px">

  <ngx-charts-bar-horizontal
    [view]="viewHotizontal"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisTicks]="yAxisTicks"
    [xScaleMax]='xScaleMax'
    [xScaleMin]='xScaleMin'
    (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>

<div id="chart1">
    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorSchemePie"
      [results]="single"
      [animations]="animations"
      [minWidth] ='minWidth'
      [designatedTotal]='designatedTotal'
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>
<div id="chart2">
    <img src="https://www.bhge.com/sites/subsea-connect/assets/images/09_.png"  style="width:230px;height:230px; padding-right: 80px">

  <ngx-charts-bar-horizontal
    [view]="viewHotizontal"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisTicks]="yAxisTicks"
    [xScaleMax]='xScaleMax'
    [xScaleMin]='xScaleMin'
    (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>




